@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --border: 2px solid red;
    --btncolor: rgb(239, 55, 55);
    --bckcolor: rgb(213, 221, 221);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}

body {
    background-image: url(png/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

#wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* ---------------- navigation bar ---------------- */

.nav1 {
    position: sticky;
    top: 0;
    z-index: 25;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    background-color: #d9e5fc;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 2.5rem;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin: 5px 0;
    transition: transform 0.3s;
}

.logo-container {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo {
    width: 30px;
    margin: 4px;
}

.logo-text {
    margin-left: -6px;
    font-size: 29px;
}

.nav-items {
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.nav-items div {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.nav-items div a {
    transition: all 0.4s;
    color: black;
}

.nav-items div a:hover {
    color: var(--btncolor);
    font-weight: 600;
    text-decoration: underline;
}

/* -------------------- profile section ------------------------ */

.profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 1rem 3rem;
    padding-bottom: 4rem;
}

.faded-text {
    position: absolute;
    user-select: none;
    font-size: 7em;
    color: rgb(147, 149, 149);
    bottom: -17%;
    left: -6%;
    font-weight: 500;
    transition: all 3s;
}

.profile-left {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.profile-heading {
    font-size: 55px;
    font-weight: 600;
    color: #180288;
}

.role {
    color: #000000;
    font-weight: 500;
}

.profile-sub-heading {
    font-size: 45px;
    line-height: 45px;

}

.profile-sub-heading :first-child {
    font-size: 45px;
    font-weight: 400;
    color: #180288;
}

.profile-description {
    font-size: 20px;
    color: rgb(65, 64, 64);
    margin-top: 0;
    width: 70%;
    font-weight: 400;
}

.btn1 {
    background-color: var(--btncolor);
    width: fit-content;
    color: rgb(255, 255, 255);
    padding: 0.8rem 2rem;
    font-size: 18px;
    border: 3px solid transparent;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    box-shadow: 5px 5px 6px 0px black;
    z-index: 1;
    transition: all 0.5s;
}

.btn1 a {
    padding: 0.8rem 1.3rem;
    color: rgb(255, 255, 255);
    font-size: 18px;

}

.btn1::before {
    content: "";
    position: absolute;
    background-color: rgb(255, 253, 253);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transition: all 0.8s;
    transform-origin: left;
}

.btn1:hover::before {
    transform: scaleX(1);
}

.btn1:hover a {
    border: 3px solid var(--bgcolor);
    color: black;
}

.profile-right {
    position: relative;

}

.absolute {
    position: absolute;
}

.user-image img {
    z-index: -9;
    width: 100%;
    border-radius: 7px;
}

.user-image {
    padding: 2rem;
    border-radius: 7px;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleimage 4s linear infinite;
}

@keyframes scaleimage {
    0% {
        filter: grayscale(0);
        transform: scale(1);

    }

    50% {
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 5px 5px 9px 3px rgb(47, 47, 47);
    }

    100% {
        transform: scale(1);
        filter: grayscale(0);
    }
}

.icon-dots {
    z-index: 9;
    bottom: -1rem;
    right: 0;
    animation-name: dotsanimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes dotsanimation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.icon-cube {
    z-index: 9;
    top: -0.8em;
    right: 1em;
    animation-name: cuberotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes cuberotate {
    0% {
        transform: rotatey(0deg) translateY(0px);
    }

    50% {
        transform: rotatey(100deg) translateY(-13px);
    }

    100% {
        transform: rotateY(360deg) translateY(0px);
    }
}

.icon-circle {
    z-index: 9;
    bottom: 0;
    left: 0;
    animation-name: shakecircle;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes shakecircle {
    50% {
        left: 5%;
        bottom: 10%;
    }

}

.icon-zigzak {
    z-index: 9;
    top: 1.5em;
    left: -0.4em;
    animation: zigzakanimation 5s ease-in infinite;
}

@keyframes zigzakanimation {
    50% {
        left: 5%;
        top: 2%;
    }
}

.icon-plus {
    top: -0.8em;
    left: 50%;
    animation: shakeplus 5s ease-in infinite;
}

@keyframes shakeplus {
    50% {
        top: 3%;
        left: 48%;
    }
}

/* ---------------------- project section ------------------------- */
.project-section {
    scroll-behavior: smooth;
    background-color: white;
}

.page-header {
    color: rgb(147, 149, 149);
    font-size: 97px;
    font-weight: 600;
    text-align: center;
    padding-top: 70px;
}

.project-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 120px;
}

.project-card {
    width: 90%;
    height: 500px;
    /* background-image: url(projects/Project1.png); */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;

    position: relative;
    box-shadow: 0px 0px 20px black;
}

.project-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(129, 114, 114, 0.575);
    transform: scaleX(1);
    z-index: 0;

}

.project-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s ease-in-out;
    z-index: 1;

}

.project-card:hover::before {
    transform: scaleX(1);
}

.project-number {
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;

    z-index: 10;
    display: none;
    transition: all 0.4s;
}

.project-card:hover .project-number {
    display: block;
}

.project-number-left {
    right: -40px;
    top: -45px;
}

.project-number-right {
    left: -40px;
    top: -45px;
}

.project-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
}

.project-content-left {
    left: 10%;
}

.project-content-right {
    right: 10%;
}

.project-skills-container {
    max-width: 60%;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    transition: all 0.2s;
    border-radius: 5px
}

.project-skill {
    width: 40px;
}

.project-heading {
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-subheading {
    width: 70%;
    font-size: 18px;
    font-style: italic;
}

.btn-grp {
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

.btn-grp a:hover {
    color: var(--btncolor);
}

.icon {
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: all 0.4s;
}

.icon:hover {
    color: var(--bgcolor);
}

.project-card:hover .project-content {
    transform: scale(1.1);
}

#project1 {
    background-image: url(projects/projectimg.png);
}

#project2 {
    background-image: url(projects/Project2.png);
    margin-left: 120px;
}

#project3 {
    background-image: url(projects/Project3.png);
}

#project4 {
    background-image: url(projects/Project4.png);
    margin-left: 120px;
}

/* --------------------- Skills section --------------------------- */

.skill-container {
    background-color: rgb(233, 232, 232);
    position: relative;
    display: flex;
    padding: 10rem;
    gap: 30px;
}

.skill-container-left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skill-container-right {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    gap: 2rem;
    justify-content: center;
}

.skill-faded-text {
    color: rgb(179, 173, 173);
    font-size: 10em;
    position: absolute;
    user-select: none;
    bottom: -5%;
    right: -0.5%;
    font-weight: 500;
    transition: all 3s;
    overflow-y: hidden;

}

.blob-style {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blobanimation 3s linear infinite;
    z-index: 4;
}

@keyframes blobanimation {
    50% {
        left: 56%;
        top: 54%;
    }
}

.skill-logo {
    width: 90px;
    transition: all 0.5s;
    z-index: 7;

}

.skill-logo:hover {
    transform: scale(1.2);
}

.skill-heading {
    font-size: 50px;
    font-weight: bold;
    color: var(--btncolor);
    line-height: 50px;
}

.caps {
    font-size: 90px;
}

.skill-subheading {
    margin-top: 1rem;
    width: 90%;
    text-align: justify;
}

.skill-subheading p {
    margin: 15px 0;
    font-size: 20px;
}

/* ----------------------- About me section ------------------------ */


.about-container {
    width: 100%;
    margin: 0 auto;
    padding: 5rem 0;
    background-color: #faf9fb;
}

.about-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-left {
    padding: 2rem;
    width: 100%;
}

.about-me-left img {
    border-radius: 10px;
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.397);
    width: 100%;
}

.about-me-right {
    padding: 1rem;
    margin: 0 44px;
}

.about-heading {
    font-size: 3rem;
    font-weight: 500;
    color: var(--btncolor);
    text-decoration: underline;
    margin: 1rem 0;
}

.about-subheading {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: rgb(125, 123, 123);
    margin: 2rem 0;
}

.about-details {
    border: 3px solid rgb(3, 134, 108);
    border-radius: 6px;
    padding: 1rem;
    margin: 3rem 0;
    display: flex;
    gap: 66px;
}

.about-details ul {
    list-style-type: none;
}

.about-details ul li span {
    font-size: 19px;
    font-weight: 500;
    padding-right: 10px;
    color: rgb(9, 9, 9);
}

.about-details ul li {
    font-size: 19px;
    font-weight: 500;
    margin: 1rem 0;
    color: rgb(91, 90, 90);
}

/* ----------------------- Contact me -------------------------- */

.contact-form-conatainer {
    background-color: rgb(254, 236, 236);
}

.contact-heading {
    font-size: 5rem;
    color: var(--btncolor);
    padding-top: 2rem;
}

.contact-subheading {
    font-size: 3rem;
    color: #343d68aa;
    text-transform: capitalize;
}


.formfield-conatainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formfield-conatainer {
    width: 80%;
}

.formfield {
    width: 100%;
    height: 42px;
    font-size: 18px;
    padding: 0 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    border: none;
    margin: 10px;
}

.formfield-textarea {
    height: auto;
    padding-top: 1rem;
}

#submit-btn {
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
}

#submit-btn:hover {
    scale: 0.9;
    color: black;
}

.submit-icon {
    padding: 0 1rem;
    font-size: 1.5rem;
}

/* ------------------------- Footer section ------------------------------- */

footer {
    background-color: #343d68;
    position: relative;
    margin-top: -1px;
    padding: 5rem 0;
}

.footer-wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem;

}

.footer-faded-text {
    position: absolute;
    user-select: none;
    font-size: 5rem;
    color: #555e8b;
    font-weight: 500;
    left: 0;
    bottom: 0;
}

.link-wrapper {
    display: flex;
    gap: 1.2rem;
}

.link-wrapper div a {
    color: rgb(253, 253, 253);
    text-decoration: none;
    transition: all 0.2s;
}

.link-wrapper div a:hover {
    color: var(--btncolor);
}

.icon-wrapper {
    display: flex;
    gap: 1rem;
    transition: all 0.2s;
}

.icon-wrapper a:hover {
    color: var(--btncolor);
}

.Copyright {
    position: absolute;
    color: white;
    font-weight: 300;
    left: 0;
    bottom: 0;
    text-align: center;
}

/*------------------- media query for max-width 1300px -------------------------*/

@media screen and (max-width:1300px) {

    .profile {
        gap: 1.2rem;
    }

    .profile-sub-heading :first-child {
        font-size: 42px;
    }

    .role {
        font-size: 42px;
    }

    .faded-text {
        font-size: 6em;
        bottom: -19%;
        left: -6%;
    }

    .profile-left {
        padding-left: 0;
        gap: 2rem;
    }

    .project-section {
        padding: 0 2rem;
    }

    #project1 {
        margin: auto;
    }

    #project2 {
        margin: auto;
    }

    #project3 {
        margin: auto;
    }

    #project4 {
        margin: auto;

    }

    .skill-container {
        padding: 6rem;
        gap: 10px;
    }

    .skill-container-right {
        width: 50%;
        padding: 2rem;
    }

    .skill-faded-text {
        font-size: 9em;
        bottom: -4%;
        right: 1%;
    }

    .skill-logo {
        width: 70px;
        height: 70px;
    }

    .about-me-right {
        width: 65%;
        margin: 0;
    }

    .about-details {
        gap: 36px;
    }


    .about-details ul li span {
        font-size: 15px;
    }

    .about-details ul li {
        font-size: 15px;
    }

}

/*--------------------- media query for max-width 1000px ------------------------*/

@media screen and (max-width:1000px) {


    .profile {
        gap: 1.2rem;
        padding: 1rem 0;
    }

    .profile-heading {
        font-size: 40px;
    }

    .profile-sub-heading :first-child {
        font-size: 38px;
    }

    .role {
        font-size: 38px;
    }

    .profile-right {
        width: 40%;
    }

    .skill-container {
        padding: 4rem;
        gap: 10px;
    }

    .skill-container-right {
        width: 50%;
        padding: 5rem 1rem;
    }

    .skill-logo {
        width: 50px;
        height: 50px;
    }

    .about-me-right {
        width: 65%;
        margin: 0;
    }

    .about-details {
        padding: 1rem;
        margin: 1rem 0;
        display: flex;
    }


    .about-details ul li span {
        font-size: 15px;
    }

    .about-details ul li {
        font-size: 15px;
    }

    .about-heading {
        font-size: 3rem;
        font-weight: 500;
        color: var(--btncolor);
        text-decoration: underline;
        margin: 1rem 0;
    }

    .about-subheading {
        font-size: 18px;
        font-weight: 500;
        color: rgb(125, 123, 123);
        margin: 2rem 0;
    }

}

/*----------------------- media query for max-width 800px ----------------------------*/

@media screen and (max-width:800px) {

    .logo-text {
        margin-left: -6px;
        font-size: 25px;
    }

    .nav-items {
        gap: 1rem;
        padding: 0 3rem;
    }

    .nav-items div {
        font-size: 17px;
    }

    .container {
        width: 95%;
        padding: 0 1rem;
    }

    .profile-heading {
        font-size: 35px;
    }

    .profile-sub-heading :first-child {
        font-size: 28px;
    }

    .role {
        font-size: 28px;
    }

    .faded-text {
        font-size: 4em;
        bottom: -18%;
        left: -5%;
    }

    .profile-left {
        gap: 1.5rem;
    }

    .profile-description {
        font-size: 18px;
    }

    .btn1 {
        padding: 0.5rem 1rem;
    }

    .profile-right {
        width: 80%;
    }

    .user-image img {
        width: 100%;
    }

    .page-header {
        font-size: 80px;
    }

    .project-content {
        bottom: 7%;
    }

    .project-card {
        height: 350px;
    }

    .project-number {
        font-size: 170px;
    }

    .project-skill {
        width: 33px;
    }

    .project-heading {
        font-size: 30px;
        line-height: 1rem;
    }

    .project-subheading {
        font-size: 16px;
    }

    .icon {
        font-size: 35px;
    }

    .skill-container {
        padding: 3rem;
        gap: 10px;
    }

    .skill-container-right {
        width: 50%;
        padding: 11rem 0;
    }

    .skill-heading {
        font-size: 40px;
    }

    .caps {
        font-size: 70px;
    }

    .skill-subheading p {
        font-size: 18px;
    }

    .about-me-left {
        padding: 0.2rem;
        width: 100%;
    }

    .about-me-right {
        width: 70%;
    }

    .about-details {
        width: 103%;
        padding: 1rem;
        margin: 0;
        gap: 26px;
    }

    .about-details ul li span {
        font-size: 13px;
    }

    .about-details ul li {
        margin: 10px;
        font-size: 13px;
    }

    .about-heading {
        font-size: 2.5rem;
        margin: 1rem 0;
    }

    .about-subheading {
        font-size: 16px;
        font-weight: 400;
        margin: 1rem 0;
    }
}


/*----------------------- media query for max-width 500px ------------------------*/

@media screen and (max-width:500px) {
    .hamburger-menu {
        display: flex;
        position: absolute;
        top: 12px;
        right: 19px;
    }

    .profile {
        margin: 1.5rem 0;
    }

    .profile-subdescription {
        display: none;
    }

    .logo-text {
        font-size: 28px;
    }

    .navbar {
        padding: 0.5rem 2rem;
    }

    .nav1 {
        height: 7vh;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        width: 60%;
        padding: 0;
    }

    .bar {
        width: 2.1rem;
        margin: 3px 0;
    }

    .nav-items a {
        display: block;
        font-size: 27px;
        padding: 7px 1rem;
        background-color: white;
        width: 100%;

    }

    .nav-items.active {
        position: absolute;
        top: 51px;
        right: 0;
        background-color: rgb(0, 0, 0);
        height: 42vh;
        display: flex;
    }

    .container {
        width: 95%;
    }

    .profile {
        display: block;
    }

    .profile-heading {
        color: black;
        font-size: 45px;
    }

    .profile-sub-heading :first-child {
        font-size: 32px;
    }

    .role {
        font-size: 32px;
    }

    .faded-text {
        font-size: 3.1em;
        bottom: -9%;
        left: -5%;
    }

    .profile-left {
        gap: 0.5rem;
    }

    .profile-description {
        margin-bottom: 20px;
        font-size: 20px;
        width: 95%;
    }

    .profile-right {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .btn1 {
        padding: 0.5rem 1rem;
    }

    .user-image img {
        width: 100%;
    }

    .page-header {
        font-size: 60px;
        padding-top: 5rem;
    }

    .project-content {
        bottom: 0;
    }

    .project-content-left {
        left: -3%;
    }

    .project-content-right {
        left: -3%;
    }

    .project-card {
        height: 230px;
    }

    .project-number {
        font-size: 70px;
    }

    .project-number-left {
        right: -15px;
        top: -25px;
    }

    .project-number-right {
        left: -10px;
        top: -25px;
    }

    .project-skill {
        width: 23px;
    }

    .project-heading {
        font-size: 30px;
    }

    .project-subheading {
        width: 100%;
        font-size: 15px;
        font-weight: 300;
    }

    .project-skills-container {
        max-width: 100%;
        gap: 10px;
    }

    .btn-project {
        padding: 0;
    }

    .icon {
        font-size: 25px;
    }

    .skill-container {
        display: block;
        padding: 2rem;
    }

    .skill-container-left {
        width: 100%;
        padding: 0.5rem 0;
    }

    .skill-container-right {
        width: 100%;
        padding: 5rem 0;
    }

    .skill-faded-text {
        font-size: 7em;
        bottom: -2.5%;
        right: 1%;
    }


    .skill-heading {
        font-size: 40px;
    }

    .caps {
        font-size: 70px;
    }

    .skill-subheading p {
        font-size: 18px;
    }

    .about-main {
        display: block;
        margin: 0;

    }

    .about-me-left {
        padding: 2rem;
        width: 100%;
    }

    .about-me-right {
        width: 100%;
        margin: 0;
    }

    .about-details {
        width: 100%;
        display: block;
        padding: 1rem;
        margin: 0;
        gap: 26px;
    }

    .about-details ul li span {
        font-size: 19px;
    }

    .about-details ul li {
        margin: 10px;
        font-size: 22px;
    }

    .about-heading {
        font-size: 3rem;
        margin: 1rem 0;
    }

    .about-subheading {
        font-size: 18px;
        margin: 2rem 0;
        line-height: 30px;
    }


    .contact-heading {
        font-size: 4rem;
        padding-top: 0;
    }

    .contact-subheading {
        font-size: 2rem;
    }


    .formfield-conatainer {
        margin-top: 10px;
    }

    .formfield-conatainer {
        width: 100%;
    }

    .formfield-textarea {
        height: 25vh;
        padding-top: 1rem;
    }

    footer {
        padding: 4rem 0;
    }

    .footer-wrapper {
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1.2rem;
        margin: 20px auto;

    }

    .footer-faded-text {
        height: 9vh;
        font-size: 3rem;
    }

    .link-wrapper {
        display: none;
        gap: 4rem;
    }
}

/*---------------------- media query for max-width 450px ------------------------------*/

@media screen and (max-width:450px) {
    .profile-heading {
        font-size: 41px;
    }

    .profile-sub-heading :first-child {
        font-size: 26px;
        font-weight: 500;
    }

    .role {
        font-size: 26px;
    }

    .profile-description {
        margin: 10px 0;
    }

    .btn1 {
        padding: 0.3rem .7rem;
    }

    .btn1 a {
        font-size: 16px;
    }

    .profile-right {
        /* width: 84%; */
    }

    .user-image img {
        width: 100%;
    }

    .faded-text {
        font-size: 2.5em;
        bottom: -10.5%;
        left: -7%;
    }

    .page-header {
        font-size: 50px;
        padding-top: 4rem;
    }

    .project-section {
        padding: 0;
    }

    .project-content {
        bottom: -16px;
    }

    .skill-container-right {
        width: 100%;
        padding: 6rem 0;
    }

    .skill-faded-text {
        bottom: -2%;
    }

    .about-me-left {
        padding: 0rem;
    }

    .about-me-right {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .about-details {
        padding: 0;
        margin: 15px 0;
    }

    #emailid {
        font-size: 17px;
    }

    .contact-heading {
        font-size: 3rem;
    }

    .contact-subheading {
        font-size: 1.5rem;
    }

    .formfield {
        box-shadow: 2px 2px 5px black;
        margin: 5px;
    }

    .footer-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        gap: 1rem;
        padding: 1rem;

    }

    .footer-faded-text {
        height: 9vh;
        font-size: 2.5rem;
    }
}

/*----------------------- media query for max-width 350px -------------------------*/

@media screen and (max-width:350px) {
    .profile-heading {
        font-size: 37px;
    }

    .profile-sub-heading :first-child {
        font-size: 21px;
    }

    .role {
        font-size: 21px;
    }

    .profile-description {
        font-size: 17px;
    }

    .profile-right {
        width: 90%;
    }

    .faded-text {
        font-size: 2.3em;
    }

    .page-header {
        font-size: 35px;
        padding-top: 10px
    }

    .project-section {
        padding: 0;
    }

    .project-content {
        bottom: -16px;
    }

    .project-heading {
        font-size: 25px;
    }

    .project-skill {
        width: 21px;
    }

    .project-subheading {
        font-size: 13px;
    }

    .btn-project a {
        padding: 0;
        font-size: 15px;
    }

    .skill-container {
        display: block;
        padding: 1rem;
    }

    .contact-heading {
        font-size: 3rem;
    }

    .contact-subheading {
        font-size: 1.5rem;
    }

    #emailid {
        font-size: 16px;
    }

    .formfield {
        height: 35px;
        font-size: 16px;
        margin: 7px;
    }

    .formfield-textarea {
        height: 22vh;
        padding-top: 1rem;
    }

    #submit-btn {
        border: none;
        font-size: 1rem;
    }

    .footer-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        gap: 1rem;
        padding: 1rem;
    }

    .footer-faded-text {
        font-size: 2.2rem;
    }
}
